@model ChallengeListViewModel

@{
    ViewData["Title"] = "Challenge List";
}

<div class="text-center">
    <h1 class="display-4">Challenges</h1>
    <div>
        [Placeholder]
        <button id="sendButton">Test</button>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
