@model ChallengeListViewModel

@{
    ViewData["Title"] = "Challenge List";
}

<div class="text-center">
    <h1 class="display-4">Challenges</h1>
    <div>
        [Placeholder]
    </div>
</div>
